<html>
<meta charset="utf-8">
<head>
    <title>Feederss</title>
    <style>
    body {
        font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    } 
    </style>

</head>
<body>

{% for user_id, user_data in users.items() %}
    <h1>{{ user_data['name'] }}</h1>
    <hr/>
    {% if user_data['starred_entries'] %}
        <h2>⭐ stars</h2>
        <ul>
            {% for entry in user_data['starred_entries'] %}
                <li><a href="{{ entry['entry_url'] }}" target="_blank">{{ entry['entry_title'] }} – {{entry['entry_author']}}</a> ({{ entry['entry_published_at'] }})</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h2>📰 feeds</h2>
    <ul>
        {% for category, feeds in user_data['feeds'].items() %}
            <h4>{{ category }}</h4>
            {% for feed_data in feeds %}
                <li><a href="{{ feed_data['site_url']}}" target="_blank">{{ feed_data['feed_title'] }}</a> ({{feed_data["feed_url"] }})</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endfor %}
</body>
</html>