a,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #ddd;
}

ul {
    list-style-type: none;
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #333;
    color: #bbb;
}

h4 {
    margin: 0;
}

ul {
    padding-left: 0.5em;
    margin: 0.5em;

}

li {
    padding-bottom: 0.25em;
    margin: 0;
}

hr {
    margin: 0;
    border-top: 1px solid #bbb;
}

h2 {
    margin: 0.125em;
}

#header {
    font-size: 24px;
    text-decoration: bold;
}

.header-link {
    opacity: 0.75;
}

.header-link:hover {
    margin: 0;
    padding: 0;
    opacity: 1;
}

.sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    background-color: #333;
    z-index: 100;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0.5;
}

.grid-item {
    flex-basis: calc(50% - 20px);
    /* 2 columns per row */
    margin: 5px;
    /* Adjust margin as necessary */
    padding: 0.25em;
    border: 1px dotted #666;
    flex-grow: 1;
}

@media screen and (max-width: 768px) {
    .grid-item {
        flex-basis: calc(100% - 20px);
        /* 1 column per row */
        justify-content: space-between;
    }
}

.add-to-miniflux>img:hover {
    opacity: 1;

}

.add-to-miniflux:hover::after {
    content: "add to miniflux";
    font-size: x-small;
    opacity: 1;
}

.add-to-miniflux>img {
    z-index: -1;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.5;
}