<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>feederss ?</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <script type="text/javascript" src="/js/main.js"></script>
</head>

<body>
    <div id="header" class="sticky-container">
        <span id="feeders-logo">
            <a class="header-link" href="{{ app_url }}" alt="go to miniflux">
                <img src="/img/mini-flux-icon.png" width="24" height="24" alt="{{ app_url }}"
                    style="vertical-align: middle; margin-right: 0.125em;" />
            </a> •
            <a href="/" alt="feederss home">
                <strong>feederss</strong>
            </a> •
            <a class="header-link" href="{{ chat_url }}" alt="signal chat">
                💬
            </a> •
            <a class="header-link" href="/about.html">
                ❔
            </a>
        </span>
        <hr />
    </div>
    <p> To come... </p>
</body>

</html>